* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  width: 100%;
}

.header {
  background-color: black;
  color: white;
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 5px solid orange;
}

.cat_imgs {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cat_imgs img {
  margin: 10px;
  border-radius: 10px;
  object-fit: cover;
  height: 250px;
  width: 250px;
}
